[submodule "Week2-NFTVariants,Staking/lib/forge-std"]
	path = Week2-NFTVariants,Staking/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Week3-5-Uniswap/lib/forge-std"]
	path = Week3-5-Uniswap/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Week3-5-Uniswap/hello_foundry/lib/forge-std"]
	path = Week3-5-Uniswap/hello_foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Week6-7-Testing/lib/forge-std"]
	path = Week6-7-Testing/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Week8-11:Security/solidity-riddles-foundry/lib/forge-std"]
	path = Week8-11:Security/solidity-riddles-foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Week8-11:Security/solidity-riddles-foundry/lib/openzeppelin-contracts"]
	path = Week8-11:Security/solidity-riddles-foundry/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
[submodule "Week15-16:GasOptimization/lib/forge-std"]
	path = Week15-16:GasOptimization/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Week17-18:Proxies/lib/forge-std"]
	path = Week17-18:Proxies/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Week17-18:Proxies/lib/openzeppelin-contracts-upgradeable"]
	path = Week17-18:Proxies/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "Week17-18:Proxies/lib/openzeppelin-foundry-upgrades"]
	path = Week17-18:Proxies/lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
